:root {
  --borderRoundClr: 'null';
  --borderRoundHover: 'null';
  --primarytextClr: 'null';
  --secondaryTextClr: 'null';
  --secondaryTextHover: 'null';
  --borderBottom: 'null';
  --brightBlue: 'null';
  --bodyBg: 'null';
  --todoBg: 'null';
  --primaryFont: 'Josefin Sans', sans-serif;
  --white: #fafafa;
  --iconClr: #d0d0d0;
  --gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
